body{
    padding:0;
    margin:0;
}

hr{
    border: 1px solid rgb(29, 29, 123);
    background-color: rgb(29, 29, 123);;
    height:6px;
    margin:0px;
}

.grid-container{
    display:grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20vh auto auto;
}

.grid-container header{
    display:flex;
    grid-column: 1/5;
    background-color:rgb(213, 213, 213);
    grid-row: auto;
    justify-content:space-evenly;
    align-items:center;
}

.grid-container header img{
    grid-column: 1/4;
}

.grid-container header .atalhos a{
    text-decoration:none;
    padding-left: 5px;
    padding-right: 5px;
}

.grid-container header .atalhos a:hover{
    color:red;
}
.grid-container main{
    display: grid;
}

.grid-container main .cartao-principal img{
    grid-column-start: 2;
    background-color: black;
}
